@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Pixelify+Sans");

.playfair-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.number {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.video-background {
  z-index: 0;
  position: relative;
  height: 90vh;
  overflow: hidden;
  background: url('https://res.cloudinary.com/dukfn2auq/image/upload/f_auto,q_25/v1724344680/zpeuyljbohnycvuryvhr.webp') no-repeat center fixed;
  background-size: cover;
  width: 100%;
  max-height: 1080px;
  min-height: 650px;
}


.top-margin-spotify {
  background-color: black;
}

.App-nav {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1.1em !important;
  /* must fix padding (all padding)*/
  padding: .2em 5em .2em 5em !important;

}

.content-width {
  max-width: 800px;
}


h1.title-lg {
  font-size: 50px;
  font-weight: 500;
}

h3.title-sm {
  font-size: 30px;
  font-weight: 600;
}

.title-md,
h2.title-md {
  font-size: 40px;
  font-weight: 500;
}

p.subtitle-lg {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

p.subtitle-md {
  font-size: 20px;
}

p.subtitle-small {
  font-size: 17px;
  font-weight: 600;
}

.text-p {
  font-size: 15px;
}

.text-muted {
  color: lightgray;
}

.experience-article {
  padding-left: 20px;
}

.experience-hover:hover {
  cursor: pointer;
}


.view-more-icon {
  opacity: 0;
  transform: translate(0.25rem, 0) rotate(0) scaleX(1) scaleY(1);
  transition: transform 0.3s ease, opacity 0.3s ease-in;
  --tw-rotate: 90deg;
}

.view-more-icon.clicked {
  transform: translate(0.25rem, 0) rotate(90deg) scaleX(1) scaleY(1);
}

.experience:hover .view-more-icon {
  opacity: 1;
}

.experience-article p {
  margin-top: 0;
  margin-bottom: 10px;
}

.contact {
  height: 400px;
}

.img-cont-lg {
  width: 200px;
  height: 200px;
}

#about {
  max-width: 600px;
}

.view-more-button {
  display: none !important;
}

.experience-right {
  justify-content: end;
  align-items: end;
}

.experience-logo {
  width: 42px;
  height: 42px;
}

.experience-desc-img {
  width: 150px !important;
}

.experience-desc-img-cover {
  width: 150px !important;
  height: 120px !important;
  object-fit: cover !important;
}

.experience-symbol {
  height: 42px;
}

#briefcase-img {
  width: 55px;
}

.overlay-video {
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
}

#video {
  position: fixed;
}


@media screen and (max-width: 800px) {

  #video {
    position: absolute;
  }

  .overlay-video {
    background: rgba(0, 0, 0, 0.25);
  }

  .video-background {
    background: url("https://res.cloudinary.com/dukfn2auq/image/upload/f_auto,q_25/v1724344680/zpeuyljbohnycvuryvhr.webp") no-repeat center;
    min-height: 575px;
    height: 80vh;
  }

  #briefcase-img {
    width: 50px !important;
  }

  .content-width {
    max-width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  h1.title-lg {
    font-size: 30px;
  }

  h3.title-sm {
    font-size: 24px;
  }

  .title-md,
  h2.title-md {
    font-size: 28px;
  }

  p.subtitle-md {
    font-size: 16px;
  }

  p.subtitle-lg {
    font-size: 20px;
  }

  /*  */

  p.subtitle-small {
    font-size: 14px;
    font-weight: 600;
  }

  .text-p {
    font-size: 12px;
  }

  .text-height-sm {
    line-height: 16px;
  }

  .img-cont-lg {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  #about {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  #about h2 {
    font-size: 24px;
    height: 68px;
  }

  .view-more-icon {
    display: none;
  }

  .view-more-button {
    padding: 4px 8px !important;
    font-size: 12px !important;
    display: block !important;
    font-weight: bold !important;
    margin-top: 5px;
  }

  .experience-right {
    align-items: center !important;
  }

  .experience-logo {
    width: 36px;
    height: 36px;
  }

  .experience .subtitle-lg {
    line-height: 24px;
  }

  .experience-desc-img {
    width: 70px !important;
  }

  .experience-desc-img-cover {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
  }

  .experience-img-list {
    flex-wrap: wrap;
  }

  .experience-symbol {
    margin-bottom: auto;
    height: auto !important;
    width: 70px !important;
  }

  #my-contact .subtitle-small {
    font-size: 12px;
  }

  .contact {
    height: 300px !important;
  }

  .extra-space {
    margin-top: 10px;
  }

}

#resume-card {
  margin-top: auto;
  padding-bottom: 28px;
}

#resume-card img {
  margin-left: -6px;
}

.bento-wrapper {
  padding: 0 20px;
}

.bento-box {
  height: 280px;
  width: 650px;
  gap: 8px;
  padding: 8px;
  color: black;
}



.bento-cup {
  text-decoration: none;
  color: black;
  padding: 20px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

.bento-cup:hover {
  cursor: pointer;
  color: black;
}

.bento-cup:hover .go-up-big {
  transform: translateY(-20px)
}

.bento-cup:hover .go-up {
  transform: translateY(-10px)
}

.go-up-big,
.go-up {
  transition: transform 0.3s ease;
}

.hover-overlay {
  border-radius: 8px;
  opacity: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  transition: opacity 0.6s ease;
}

.peer-overlay:hover .hover-overlay {
  opacity: 0.2;
}

@media screen and (max-width: 800px) {
  .bento-box {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }

  .bento-cup {
    padding: 10px !important;
  }

  .bento-text {
    font-size: 18px !important;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
  }

  #resume-card img {
    margin-left: 0;
  }

  #resume-card {
    padding-bottom: 4px;
  }

  .bento-wrapper {
    padding: 0 !important;
  }

  .bento-cup:hover .go-up {
    transform: translateY(-18px) !important
  }

  .bento-cup:hover .bento-text {
    display: inline;
  }
}

@media screen and (max-width: 500px) {
  .video-background {
    background: url("https://res.cloudinary.com/dukfn2auq/image/upload/f_auto,q_50/6775423-uhd-1440-2560-24fps_skr8rx") no-repeat center;
    background-size: cover;
  }
}

.app-nav-item {
  color: black !important;
  padding: 16px 20px 20px 0px !important;
}

.app-top-margin {
  height: 5vh;
}

.button-links {
  margin-bottom: 20px;
}

.name-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.more-button {
  font-weight: bold;
  margin-top: 5px;
}


.app-game-scene {
  background-image: url("./load-screen.png");
  box-shadow: inset 0 0 20rem rgba(7, 7, 7, 1);
  background-size: cover;
  background-position: center;
  font-family: 'Pixelify Sans', 'Montserrat', sans-serif;
  min-height: 900px;
  max-height: 1200px;
  height: 100vh;

}

.app-head-text {
  font-family: 'Pixelify Sans', 'Montserrat', sans-serif;
  padding-top: 10vh;
  text-align: center;
  color: #fff;

  text-shadow: 8px 8px 6px rgb(70, 70, 70);
}

h1.app-head-text {
  letter-spacing: 4px;
  font-size: 1.5em;
}

h2.app-head-text {
  letter-spacing: 8px;
  font-size: 3em;
}

.start-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(7, 7, 7, 0.1)), url("./pixel_water_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 20rem rgba(7, 7, 7, 0.4);
  height: 100%;
}

.utune-screen {
  background-image: url("https://i.pinimg.com/originals/68/ae/bf/68aebf4c71bd1d6090f87237272b01e5.gif");

}

.databricks-screen {
  background-image: url("https://i.pinimg.com/originals/85/07/9a/85079a8383f3fe7bcc7cb5dc6306e4c5.gif");

}


.cookbookSocial-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(7, 7, 7, 0.2)), url("https://i.pinimg.com/originals/ae/5e/e0/ae5ee0667396678bcb67f007443f7842.gif");

}

.generativeImage-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(7, 7, 7, 0.1)), url("https://i.pinimg.com/originals/74/5c/c9/745cc90fcc688569610f84bc5d2b2fd6.gif");
}

.universityApp-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(7, 7, 7, 0.3)), url("https://i.pinimg.com/originals/7f/e8/58/7fe8583de9ae6252c547130c0c71c095.gif");
}

.pacMan-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(7, 7, 7, 0.2)), url("https://i.pinimg.com/originals/bb/6d/76/bb6d7677244c8427db85c4d7e2a903ca.gif");
}

.yelpCamp-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(7, 7, 7, 0.1)), url("https://i.pinimg.com/originals/b4/6c/00/b46c006814f3d668bd495ebfece21405.gif");
}

.project-screen {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  animation: backgroundTransitionCookbookSocial 0.4s ease-in;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes backgroundTransitionCookbookSocial {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

.load-screen {
  background-image: url("./load-screen.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  animation: backgroundTransition 0.6s;
  box-shadow: inset 0 0 20rem rgba(7, 7, 7, 0.4);
}

.loaded {
  opacity: 1 !important;
}

@keyframes backgroundTransition {
  0% {
    background-image: url('./pixel_water_wallpaper.jpg');
  }

  100% {
    background-image: url('./load-screen.png');
  }
}

.game-content {
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  width: 70em;
  margin: auto;
  padding-top: 50px;
}

.project-content {
  line-height: normal;

  transition: opacity 0.4s ease-in;
  width: 70em;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}

.project-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.project-images img {
  max-height: 200px;
  max-width: 220px;
  margin-left: 10px;
  margin-top: 10px;

}

.project-columns {
  font-size: 24px;
}

.project-columns ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

.project-top {
  justify-content: flex-end;
  display: flex;
}

.return-button {
  padding: 12px 26px;
  font-size: large;
}

.load-screen-grid {
  max-height: 700px;
  overflow-x: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-item {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  margin-top: 12px;
}

.project-item h4 {
  text-align: center;
  white-space: nowrap;
}

.project-item p {
  margin-top: 8px;
  line-height: 20px;
}

.project-item-container {
  height: 200px;
  position: relative;
  justify-content: center;
  display: flex;
}

.project-item img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.project-item-overlay {
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, .731);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
  border-radius: 20px;
}

.project-item-overlay:hover {
  opacity: 1;
  cursor: pointer;
}



.play-button {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 30px;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 10vh;
}

.play-button:hover {
  background-color: rgb(221, 221, 221);
}



.app-body-container {
  z-index: 2;
  padding-top: 30px;
  background-color: black;
}

.App-body {
  margin: auto;
  width: 70em;
  display: flex;
  flex-direction: column;
  color: white;

}

.spotify-card-titles {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.home-h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 45px;
  letter-spacing: 5px;
}

.home-h2 {
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  margin-top: 50px;
  font-size: 26px;
  margin-bottom: 30px;
}

.home-h3 {
  z-index: 10;
  margin-left: 5em;
  margin-right: 5em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 50px;
}

@media screen and (max-width: 70em) {

  .name-title h1 {
    font-size: 20px;
  }

  .name-title h2 {
    font-size: 18px;
  }

  .name-title p {
    letter-spacing: 1.2px !important;
    font-size: 14px;
  }

  .button-links {
    margin: 0;
  }

  .button-links p {
    font-size: 12px;
  }

  .button-links a {
    padding: 5px 10px;
  }

  .App-nav {
    font-size: .9em !important;
    padding: 0 1em 0 1em !important;
  }

  .App-body {
    width: 95%;
  }



  .home-h1 {

    font-size: 35px;
    letter-spacing: 5px;
  }

  .home-h2 {

    letter-spacing: 5px;
    font-size: 22px;

  }

  .home-h3 {
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 30px;
  }

  .load-screen-grid {
    justify-content: unset;
  }


  .app-game-scene {
    width: 100%;
  }

  .app-game-scene .game-content {
    width: 100%;
  }

  .game-content .load-screen-grid {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }


  .game-content .load-screen-grid::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
  }


  .game-content .load-screen-grid::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set the background color of the scrollbar track */
  }


  .game-content .load-screen-grid::-webkit-scrollbar-thumb {
    background: #888;
    /* Set the color of the scrollbar thumb (the part that you can drag) */
    border-radius: 6px;
    /* Add rounded corners to the thumb */
  }


  .game-content .load-screen-grid::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Change thumb color on hover */
  }

  .project-item {
    flex: 0 0 auto;
  }

  .project-item {
    max-width: 300px;
    margin: 15px;
  }

  .project-content {
    width: 100%;
  }


  .project-content h1 {
    margin-top: 20px;
    font-size: 30px;
  }

  .project-content .project-columns {
    font-size: 18px;
  }

  .project-columns ul {
    font-size: 15px;
  }

  .project-images {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

}



@media screen and (max-width: 800px) {

  h1.app-head-text {
    font-size: 5vw;
  }

  h2.app-head-text {
    font-size: 9vw;
  }

  .start-screen {
    background-image: url("./pixel_water_wallpaper.jpg");
    box-shadow: inset 0 0 20rem rgba(7, 7, 7, 0.4);
  }


  .app-top-margin {
    height: 12vh;
    background: black;
  }

  .app-game-scene {
    box-shadow: none;
  }

  .load-screen {
    box-shadow: none;
  }

  .project-screen {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .game-content h2 {
    padding: 20px;
  }


  .return-button {
    font-size: medium;
    padding: 6px 13px;
  }


  .project-content {
    background-color: unset;
    width: 100%;
    padding: 30px 5px;
    margin-top: 20px;
  }

  .project-content .btn-primary {
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .project-content .btn-success {
    margin-right: 20px !important;
    margin-top: 20px !important;
  }

  .project-content h1 {
    font-size: 18px;
  }

  .project-content .project-columns,
  .project-columns ul {
    width: 100%;
    font-size: 14px !important;
    line-height: normal;
  }

  .App-nav {
    font-size: 12px !important;
    padding: .8em .6em .8em .6em !important;
  }


  .home-h1 {

    font-size: 22px;
    letter-spacing: 5px;
  }

  .home-h2 {

    letter-spacing: 5px;
    font-size: 14px;

  }

  .home-h3 {
    letter-spacing: 0px;
    font-size: 10px;
    line-height: 30px;
  }



}